body {
	background-color: lightblue;
}

div.navbar{
	width: 100%;
	font-family: poppins;
	text-align: center;
	margin-top: 15px;
}
a {
	text-align: center;
	margin-right: 25px;
	font-style: bold;
	font-size: 18px;
}
#name {
	margin-right:  160px;
}
#number {
	margin-left: 160px;
}
hr {
	margin-top: 15px;

}
div.text {
	width: 60%;
}
h1 {
	font-family: poppins;
	margin-left: 120px;
	font-size: 40px;
}
strong {
	color: navy;
}
h2 {
	font-family: poppins;
	margin-left: 120px;
	margin-top: 45px;
	font-size: 18px;
}
p {
	font-family: poppins;
	margin-left: 120px;
	font-size: 16px;
	margin-top: 5px;
}
div.pict {
	margin-left : 1075px;
	word-spacing: 8px; 
	margin-bottom: 5px;
	margin-top: 50px;
}
div.img {
	width: 50%;
	height: 100px;
	margin-left: 120px;
	margin-top: 50px;
	
}
#pict1 {
	margin-left: 10px;
	margin-top: 0px;
}
#pict2 {
	margin-left: 280px;
}
#line2 {
	width:80%;
	align-items: right;
}
div.container {
	display: flex;
}
hr.line2 {
	margin-right: 20px;
	width : 95%;
	margin-left: 0px;
}
#panah {
	margin-left: 1075px;
	margin-top: 2px;
	display: flex;
}
h3 {
	font-family: poppins;
	width: 30%;
	margin-left: 800px;
}
#header2 {
	margin-top: 70px;
	text-align: center;
	font-size: 50px;
	margin-left: 0px;
}
h4 {
	font-family: poppins;
	margin-top: 25px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
}
#place {
	font-size: 16px;
	margin-left: 10px;

}
#year {
	font-size: 16px;
	text-align: justify;
	margin-left: 125px;
}
#position {
	margin-left: 295px;
	text-align: center;
	color: black;
}
#satu {
	margin-left: 30px;
}
#dua {

}
#tiga {

}
#empat {
	
}
